{{define "about_title"}}About{{end}}
{{define "about_body"}}
<div class="paste-toolbox">
	{{template "home-button"}}
	<span class="paste-title">
		<strong>About {{brand}}</strong>
	</span>
</div>
<div class="content">
<br>
<pre style="line-height:1.2; font-family:monospace;">
███████╗██████╗ ███████╗ ██████╗████████╗██████╗ ███████╗    ██████╗ ███████╗██╗   ██╗ ██████╗ 
██╔════╝██╔══██╗██╔════╝██╔════╝╚══██╔══╝██╔══██╗██╔════╝    ██╔══██╗██╔════╝██║   ██║██╔═══██╗
███████╗██████╔╝█████╗  ██║        ██║   ██████╔╝█████╗      ██████╔╝█████╗  ██║   ██║██║   ██║
╚════██║██╔═══╝ ██╔══╝  ██║        ██║   ██╔══██╗██╔══╝      ██╔══██╗██╔══╝  ╚██╗ ██╔╝██║   ██║
███████║██║     ███████╗╚██████╗   ██║   ██║  ██║███████╗    ██║  ██║███████╗ ╚████╔╝ ╚██████╔╝
╚══════╝╚═╝     ╚══════╝ ╚═════╝   ╚═╝   ╚═╝  ╚═╝╚══════╝    ╚═╝  ╚═╝╚══════╝  ╚═══╝   ╚═════╝ 
</pre>
<br>
<h1>{{brand}}</h1>
<p>
{{brand}} is Spectre Revo, a paste service engine.<br>
this version is maintained by kucingberanakgundam<br>
<h2><a href="https://upload.wikimedia.org/wikipedia/commons/f/f6/Prabowo_Subianto%2C_Candidate_for_Indonesia%27s_President_in_2019.png"><span class="paste-title">Use wisely</span></a></h2>
</p>
</div>
{{end}}